#CssLogo {
  position: absolute;
  left: 200px;
  bottom: 450px;
}

#HtmlLogo {
  position: absolute;
  left: 200px;
  bottom: 250px;
}

#JsLogo {
  position: absolute;
  left: 200px;
  bottom: 650px;
}

#ReactLogo {
  position: absolute;
  left: 700px;
  bottom: 450px;
  height: 100px;
  width: 200px;
}

#TypeScriptLogo {
  position: absolute;
  left: 700px;
  bottom: 630px;
  height: 130px;
  width: 200px;
}
